        <br />
        <hr size="1" color="#ff0000" />
        <center>
        <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td align="left" width="100"><img src="images/alpha_dive_flag.jpg" style="border-top-style: solid; border-top-color: #000000; border-top-width: 1px; border-left-style: solid; border-left-color: #000000; border-left-width: 1px; border-bottom-style: solid; border-bottom-color: #000000; border-bottom-width: 1px;" width="88" height="50" alt="Alpha Dive Flag" title="Alpha Dive Flag" /></td>

            <td align="center" class="myfont1">
            Sarma Charters<br />
            Marine City, MI 48059<br />
            <b>Phone</b>: 954-770-DIVE (3483)<br />
            <b>Email</b>: <a href="mailto:scuba@divefortlauderdale.com" class="mylink">scuba@divefortlauderdale.com</a><br />
            </td>
            <td align="right" width="100"><img src="images/dive_flag.jpg" border="1" width="74" height="50" alt="Dive Flag" title="Dive Flag" /></td>
        </tr>
        </table>
        </center>
