<!-- ======================= -->
<!-- BEGIN: home             -->
<!-- ======================= -->


            <div ng-include src="'views/navbar.html'"></div>


            <table border="0" width="750" cellspacing="0" cellpadding="0" style="display: inline;">
                <tr>
                <td colspan="2">
                    <img src="images/bookings_banner2.jpg" border="1" alt="book your dive trip online" width="750" height="120" />
                </td>
                </tr>
            </table>


            <table border="0" width="750" cellspacing="0" cellpadding="0">
                <tr>
                <td valign="top" align="left" width="400">
                    <br />
                    <table width="100%" border="0" style="border: 0px solid #000000;" cellspacing="2" cellpadding="0">

                        <tr>
                        <td align="left" class="myfont1"><span class="flash">{{flash.get_message()}}</span></td>
                        </tr>

                        <tr>
                        <td align="left" class="myfont1"> <a ng-href="#/user_new" class="navlink_big">New Diver Account</a></td>
                        </tr>
                        <tr>
                        <td align="left" class="myfont1">
                                   Create an account for making your reservations faster and using our scuba tools.<br /><br />
                        </td>
                        </tr>

                        <tr>
                        <td align="left" class="myfont1"><a ng-href="#/login" class="navlink_big">Returning Diver</a></td>
                        </tr>
                        <tr>
                        <td align="left" class="myfont1">
                                   If you already have a Diver Account then <a ng-href="#/login" class="navlink_big">login</a> to make reservations.<br /><br />
                        </td>
                        </tr>

                    </table>

                </td>
                </tr>
            </table>
